{% extends 'mainpage.html' %}


{% block content %}

    {% if latest %}
        {% for a in latest %}
            <div class="col-lg-4">
                <a href="{% url 'detail' a.id %}"> {{ a.article_title }} </a>
            </div><!-- /.col-lg-4 -->

        {% endfor %}
    {% endif %}

{% endblock %}

{% block link1 %}
    <h1>{{ latest.0.article_title }}</h1>
    <p><a class="btn btn-lg btn-primary" href="{% url 'detail' latest.0.id %}" role="button">Читать</a></p>
{% endblock %}
{% block link2 %}
    <h1>{{ latest.1.article_title }}</h1>
    <p><a class="btn btn-lg btn-primary" href="{% url 'detail' latest.1.id %}" role="button">Читать</a></p>
{% endblock %}
{% block link3 %}
    <h1>{{ latest.2.article_title }}</h1>
    <p><a class="btn btn-lg btn-primary" href="{% url 'detail' latest.2.id %}" role="button">Читать</a></p>
{% endblock %}